input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.main-header .logo {
    background-color: #143887;
    color: white;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 20px;
}

.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    font-family: 'Lora', serif;
}

.box.box-solid.box-primary>.box-header {
     color: #fff;
     background-color: #6e7178;
     border: #6e7178;
       border-width: thick;
}


.box-body {
    background-color: #85929e;
    padding: 15px 15px;
    cursor: move;
    opacity: 0.80;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 240px;
    position:relative;
    margin-right: 12px;
    border: #85929e;
    border-width: thick;
}

.main-header:hover .logo:hover{
  background-color: #143887;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue {
  background-color: #183064;
  color: white;
  font-size: 18px;
}

.main-sidebar{
  width:240px;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #143887;
}

.skin-blue .main-header .logo {
    background-color: #143887;
    color: #fff;
    border-bottom: 0 solid transparent;
    height: 50px;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    background-color: #143887;
}

.skin-blue .main-header .navbar {
    background-color: #183064;
    color: white;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 20px;
}


button#code{
margin-top: 8px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: white;
margin-right: 10px;
box-shadow: none;
border: none;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #6e7178;
  border: none;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  padding: 5px 7px;
  box-shadow: none;
}

button:hover{
  background-color: #606166;
}

/*div.ui.top.attached.menu{
  background-color: #143887;
} */

div#map, div#map2, div#map3, div#map4, div#map6 {
    height: 650px;
    visibility: inherit;
    position: relative;
    outline: none;
}

.content {
   height: 0px;
   padding: 0px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 0px;
   padding-right: 0px;
}

#controls1, #controls2, #controls3, #controls4, #controls5 {
  width: 230px;
  padding: 10px 10px 10px 10px;
  background-color: #85929e;
  opacity: 0.80;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  right: 10px;
  border: none;
}

#controls1:hover, #controls2:hover, #controls3:hover, #controls4:hover, #controls5:hover {
  /* Fade in while hoverings */
  opacity: 1;
  background-color: #606166;
}

/*.panel-default {
     border-color: #871438;
} */

button#zoom2location.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location2.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location3.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location4.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location00.btn.btn-default.action-button.shiny-bound-input
{background-color: #6e7178;
border: none;
box-shadow: none;
color: white;
}

button#zoom2location.btn.btn-default.action-button.shiny-bound-input:hover,
button#zoom2location2.btn.btn-default.action-button.shiny-bound-input:hover,
button#zoom2location3.btn.btn-default.action-button.shiny-bound-input:hover,
button#zoom2location4.btn.btn-default.action-button.shiny-bound-input:hover,
button#zoom2location00.btn.btn-default.action-button.shiny-bound-input:hover
{background-color: #606166;
 color: white;
}

.btn-default {
    color: white;
    background-color: #6e7178;
    border: none;
    box-shadow: none;
}

.btn-default:hover {
    background-color: #606166;
}

.leaflet-control-layers-expanded {
    position: relative;
    width: 230px;
    left: auto;
    right: 10px;
    cursor: move;
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    background-color: #85929e;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    opacity: .80;
    border: none;
}

.leaflet-control-layers-expanded:hover {
    opacity: 1;
    background-color: #606166;
}


.leaflet-popup, .leaflet-popup-content-wrapper {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  background-color: #12244b;
  color: white;
  opacity: .9;
}

.leaflet-popup-tip {
background-color: #12244b;
}


h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-family: 'Lora', serif;
  font-weight: bold;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
