input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.main-header .logo {
    background-color: #143887;
    color: white;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 24px;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue {
  background-color: #183064;
  color: white;
  font-size: 22px;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #12244b;
    border-left-color: #143887;
}

.skin-blue .main-header .logo {
    background-color: #143887;
    color: #fff;
    border-bottom: 0 solid transparent;
    height: 62px;
}

.skin-blue .main-header .navbar {
    background-color: #183064;
    color: white;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 24px;
}

div.ui.top.attached.menu{
  background-color: #143887;
}

div#map, div#map2, div#map3, div#map4, div#map6 {
    height: 880px;
    visibility: inherit;
    position: relative;
    outline: none;
}

.content {
   height: 0px;
   padding: 0px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 0px;
   padding-right: 0px;
}

div#content.wrapper {

}

#controls1, #controls2, #controls3, #controls4, #controls5 {
  background-color: #871438;
  padding: 10px 15px 15px 15px;
  cursor: move;
  opacity: 0.80;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Roboto', sans-serif;
  width: 300px;
}

#controls1:hover, #controls2:hover, #controls3:hover, #controls4:hover, #controls5:hover {
  /* Fade in while hovering */
  opacity: 1;
}

.panel-default {
     border-color: #871438;
}

button#zoom2location.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location2.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location3.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location4.btn.btn-default.action-button.shiny-bound-input,
button#zoom2location00.btn.btn-default.action-button.shiny-bound-input,
{background-color: #761231;}

.btn-default {
    color: white;
    border-color: #ddd;
    background-color: #761231;
}

.leaflet-control-layers-expanded {
    left: auto;
    right: 10px;
    cursor: move;
    padding: 10px 15px 15px 15px;
    color: white;
    background: #fff;
    background-color: #871438;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    opacity: .80;
}

.leaflet-control-layers-expanded:hover {
    opacity: 1;
}
